<style type="text/css">
	.fristdiv {
		width: 50%;
		height: 60px;
	}
	
	.fristdiv .button {
		background-color: red;
		margin-left: 100px;
		margin-top: 30px;
	}
</style>

<ion-view>

	<ion-content class="content" overflow-scroll="false" has-bouncing="true">
		<div class="fristdiv">

			<button class="button button-positive" ng-click="start('ddd')" ng-model="arr">fdss{{arr}}</button>

			<h1>sssssfgnfdg</h1>

		</div>

		<div class="list">
			<label class="item item-radio" ng-model = "ssss">
            <input type="radio" name="group" value="go" checked="checked">
		</div>
   
  </div>
</label>

		</div>

	</ion-content>

</ion-view>