
<style type="text/css">
	
	.fristdiv{
		
		width: 50%;
		height: 60px;
		
		
		
	}
	.fristdiv .button{
		background-color: red;
		margin-left: 100px;
		margin-top: 30px;
		
	}
	
	
	
</style>



<ion-view  >
	
	
	<ion-content  class="content" overflow-scroll="false" has-bouncing="true">
		<div class="fristdiv">
			
			
			<button class="button button-positive" ng-click="back_start('ddd')" ng-model="arr"  >我的第二个{{arr}}</button>
			
			
		</div>
		
		
	</ion-content>
	
</ion-view>